button {
  background-color: transparent;
  border: rgba(71, 145, 241, 1);
  padding:0.5rem 1rem;
}


button:hover {
  background-color: rgba(200, 235, 255, 0.9);
}



button.active {
  background-color: rgba(71, 145, 241, 0.9);
  border: rgba(71, 145, 241, 1);
  color: #fff;
  padding:0.5rem 1rem;
}
