* {
  font-size:1.1rem;
}

body {
  background-color:#f0f0f0;
}

.App-component {
 margin:2rem 1rem;

}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.App-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}
